@font-face {
  font-family: "WooridaumB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/WooridaumB.woff2")
    format("woff2");
  font-weight: 00;
  font-style: normal;
}

:root {
  --main-blue: #0078b9;
  --mid-blue: #20c4f4;
  --sub-blue: #e3eff6;
}

body {
  font-family: WooridaumB;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.header {
  height: 100px;
  width: 100%;
}

.header-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.header.drop {
  z-index: 999;
  position: fixed;
  top: 0;
  margin: 0 auto;
  animation: dropHeader 0.3s;
}

@keyframes dropHeader {
  0% {
    top: -5rem;
  }
  100% {
    top: 0;
  }
}

#logout {
  display: flex;
  flex-decoration: column;
  align-items: center;
}

#logout a,
#home {
  color: var(--main-blue);
}

.toast {
  height: 400px;
}

.write {
  margin-top: 1em;
  width: 100%;
  height: 3em;
  margin-bottom: 3em;
}

main {
  width: 90%;
}

.question {
  border: 1px solid var(--mid-blue);
  margin-bottom: 20px;
  padding: 1em;
  width: 80%;
  margin: 1.5em auto;
}

.question-content {
  border-bottom: 1px solid var(--sub-blue);
}

.delete-board {
  margin-top: 1em;
  height: 2.3em;
}

#more-btn {
  margin-top: 1em;
  margin-bottom: 2em;
  width: 100%;
  height: 3em;
}

#more-btn:hover {
  cursor: pointer;
}

.comment ul {
  padding: 0;
}

.comment ul li {
  padding: 0.5em 0;
  /* padding: 0; */
  list-style-type: none;
  border-bottom: 1px solid var(--sub-blue);
  font-size: 0.8em;
}

button {
  border: none;
  background-color: var(--main-blue);
  color: white;
}

button:hover {
  cursor: pointer;
  background-color: var(--mid-blue);
  color: black;
}

textarea {
  width: 90%;
}

#comment {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.comment-input {
  display: flex;
}

.comment-area {
  flex: 9;
  resize: none;
  border: 1px solid var(--main-blue);
  border-right: none;
   text-vertical-align: center;
}

.comment-area::placeholder {
  color: #ddd;
}

.commet-area:hover {
  cursor: pointer;
}

.comment-button {
  flex: 1;
  background-color: transparent;
  border: 1px solid var(--main-blue);
  color: var(--main-blue);
}

.comment-button:hover {
  background-color: var(--mid-blue);
  color: white;
  cursor: pointer;
  border: none;
}
