body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}
.header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  width: 100%;
}
.toast {
  height: 400px;
}
.question {
  border: 1px solid black;
  margin-bottom: 20px;
}
